# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Uploads
uploads/

# OS
.DS_Store

DR_data_preparation/train.csv

frontend/static

ml_service/models

ml_service/prototypes

ml_service/static

ml_service/history.json

