<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="nav-left">
            <span class="logo">DR</span>
            <span class="project-name">Diabetic Retinopathy</span>
        </div>
    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </div>
</div>


<!-- LOGIN CONTAINER -->
<div class="container">

    <h2>Login</h2>
    <p class="subtitle">Access your dashboard</p>

    <div class="form-box small-form">
        <form action="/dashboard">

            <label>Email</label>
            <input type="email" required>

            <label>Password</label>
            <input type="password" required>

            <button type="submit">Login</button>

        </form>
    </div>

</div>

</body>
</html>
